<html>

	<head>
		<title>404 : Page introuvable</title>
	</head>

	<body>
		<h1>Erreur 404 : Page introuvable</h1>
		<p>On dirait que vous vous êtes trompé ! Cliquez sur ce bouton pour revenir à l'accueil.</p>
		<a href="/"><button>Clique sur moi</button></a>
	</body>

</html>