<html>

<head>
	<title>Paramètres du profil</title>
</head>

<body>
	<h1>Bienvenue<ol><%= results.ifirstname %> <%= results.ilastname %></ol></h1>
	
	<p>Vous vous êtes inscrit sous l'adresse e-mail : <strong><%= results.iemail %></strong></p>
	<p>Votre mot de passe est <strong><%= passcrypt %></strong></p>


</p>
</body>
</html>