<html lang="fr" class="no-js">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

	<head>
		<title>IFGA WebBuilder | Accueil</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
		<% include includes/header.ejs %>
	</head>
	<body class="demo-2" data-spy="scroll">
		<main>
			<header class="codrops-header">
				<h1>Website Builder</h1>
				<h2 style="color: white;">Passez au futur.</h2>
				<p>Félicitation, vous venez de trouver l'outil de vos rêves.<p></br>
				<!--<p>1, c'est le nombre de clic qui vous sépare du meilleur outil de création de sites web.<p>-->
				
				</br>
				
				<nav class="codrops-demos">
					<a class="scroll" href="#">Voir ses compétences</a>
					<a class="btn-two" href="/logup">L'Essayer</a>
				</nav>
				
			</header>

			<!-- 
				Demo panels à droite du header
			-->
			<section class="section section--intro" id"header">
				<div class="isolayer isolayer--deco1 isolayer--shadow">
					<ul class="grid">
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">                                
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />                                
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />                                
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />                                
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">                                
								<img class="grid__img layer" src="/assets/img/previews/preview_code.png" alt="01" />                                
								<img class="grid__img layer" src="/assets/img/previews/preview_2_video.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2_border.png" alt="01" />                                
								<img class="grid__img layer" src="/assets/img/previews/preview_2_text.png" alt="01" />                                
								<img class="grid__img layer" src="/assets/img/previews/preview_browser.png" alt="01" />                                
							</a>
						</li>                 
							
					</ul>
				</div>
			</section>

			<!-- 
				Texte explications hosting et boutons d'inscription
			-->
			<section class="interval" id="hebergement">
				<p class="interval__text">Hébergez votre premier site chez nous.<br />Gratuitement.</br>Sans publicités.</p>

				<nav class="codrops-demos">
					<a class="scroll" href="/logup">M'inscrire</a>
					<a class="btn-two" href="/logup">Essayer</a>
				</nav>
					
			</section>

			<!--
				Demo à gauche et texte présentation de nos outils
			-->
			<section class="section section--right section--portraits" id="outils">
				<h2 class="section__heading">Des élements pré-conçus</h2>

				<p class="section__subtitle">Nous vous offrons la posibilité d'utiliser ce qu'il se fait de mieux en matière de design, de sécurité, et de référencement.</p>
				<p class="section__subtitle">Notre système est basé sur un seul et même noyaux de conception, très puissant et très souple, afin de garantir la fiabilité et l'interconnexions de nos templates.</p>
				<p class="section__subtitle">Parce que votre expertise professionnels est au centre de nos préocupations, nous vous invitons à nous contacter afin de partager avec nous votre ressentis, vos idées, questions.</p>
	
				<div class="isolayer isolayer--deco2">
					<ul class="grid">

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_blank.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_blank.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_blank.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_blank.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_blank.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/preview_2.jpg" alt="01" />
							</a>
						</li>
						
					</ul>
				</div>
			</section>

			<!-- 
				Comparaison avec les autres outils webbuild
			-->
			<section class="interval" id="comparaison">				
				<p class="interval__text">Le website builder le plus compétitif et souple du marché.</p>
				
				<nav class="codrops-demos">
					<a class="scroll" href="#">Comparer avec les concurents</a>
					<a class="btn-two" target="_blank" href="#">Comment ça marche ?</a>					
				</nav>
					
			</section>

			<!--
				Demo à gauche et texte description du code	
			-->
			<section class="section section--shots section--right" id="code">
				<h2 class="section__heading">Un code clair et précis.</h2>
				<p class="section__subtitle">Tout le code qui constituera votre site web sera clair, commenté, précis, et modifiable par un professionnel.</p>
				<p class="section__subtitle">Notre système de génération de site est pensé, à la source, pour ne garder que le strict nécessaire.</p>
				<p class="section__subtitle">Les feuilles de styles et scripts utilisés sont intégrés de manière distante, afin que nous puissions mettre à jour tout les sites webs de nos clients, en un clin d'oeuil.</p>
				
				<div class="isolayer isolayer--deco4">
					<ul class="grid">                       
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>

						<li class="grid__item">
							<a class="grid__link" href="#" target="_blank">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
							</a>
						</li>
						
					</ul>
				</div>
			</section>

			<!-- 
				Texte best webbuild et bouton de comparaison
			-->
				<section class="interval" id="thebest">                
				<p class="interval__text">Plus qu'un site web parfait, un hébergement à la hauteur.</p>
				
				<nav class="codrops-demos">
					<a class="scroll" href="#">Comparer nos offres</a>
				</nav>
					
			</section>
			
			<!-- 
				Demo à droite et explications des tutos/guides
			-->
			<section class="section section--cards" style="display: hidden" id="guides">
				<h2 class="section__heading" style="color: black;">Un catalogue de choix très large.</h2>

				<p class="section__subtitle" style="color: black;">Nous nous efforçons de couvrir un maximum vos besoins, qui sont de plus en plus spécialisés.</p>
				<p class="section__subtitle" style="color: black;">Ne vous trompez jamais, utilisez nos catalogues dans l'ordre et/ou suivez nos tutos sur l'utilisation des outils.</p>
				
				<nav class="codrops-demos">
					<a class="btn-two" target="_blank" href="#">Voir nos tutoriels</a>
				</nav>                
				
				<div class="isolayer isolayer--deco3">
					<ul class="grid">
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">1</span>
									<span class="deconumber" style="font-size: 30px;">Navigation</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">4</span>
									<span class="deconumber" style="font-size: 30px;">Portfolio</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">7</span>
									<span class="deconumber" style="font-size: 30px;">Navigation</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">                                    
									<span class="decoletter">9</span>
									<span class="deconumber" style="font-size: 30px;">Navigation</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">5</span>
									<span class="deconumber" style="font-size: 30px;">Navigation</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">10</span>
									<span class="deconumber" style="font-size: 30px;">Navigation</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de naviguer de pages en pages, elle se trouve en général tout en haut de la page.</span>
								</div>
							</a>
						</li>
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">2</span>
									<span class="deconumber" style="font-size: 30px;">Header</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">L'entête est la première chose que vos clients verrons, il est important de faire bonne impression.</span>
								</div>
							</a>
						</li>
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">                                    
									<span class="decoletter">8</span>
									<span class="deconumber" style="font-size: 30px;">Contenu</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de contextualiser la page, présenter un produit, vos travaux, un groupe ou un individus.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">                                    
									<span class="decoletter">6</span>
									<span class="deconumber" style="font-size: 30px;">Contenu</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de contextualiser la page, présenter un produit, vos travaux, un groupe ou un individus.</span>
								</div>
							</a>
						</li>
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">                                    
									<span class="decoletter">11</span>
									<span class="deconumber" style="font-size: 30px;">Contenu</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de contextualiser la page, présenter un produit, vos travaux, un groupe ou un individus.</span>
								</div>
							</a>
						</li>
						
						<li class="grid__item">
							<a class="grid__link" href="#">
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_6.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_5.png" alt="01" />
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_4.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_3.png" alt="01" /> 
								<img class="grid__img layer" src="/assets/img/previews/code/preview_code_2.png" alt="01" />
								
								<div class="layer">
									<span class="decoletter">3</span>
									<span class="deconumber" style="font-size: 30px;">Contenu</span>
									<span class="deconumber" style="font-size: 20px; text-align: justify; padding: 10px;">Permet de contextualiser la page, présenter un produit, vos travaux, un groupe ou un individus.</span>
								</div>
							</a>
						</li>
						
					</ul>
				</div>
			</section>

			<!-- 
				Texte meilleur service en france et bouton de contact
			-->
			<section class="interval" id="contact">
				<p class="interval__text">Un service client compétent, en France.</p>

				<nav class="codrops-demos">
					<a class="scroll" href="#main-demo">Nous contacter</a>
				</nav>

			</section>
		</main>

		<section class="interval" id="footer">
			<p class="interval__text"><strong>FOOTER</strong> | Copyrights / Chartes / Réseaux sociaux</p>
		</section>

		<% include includes/scripts.ejs %>
		
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7243260-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script>
		(function() {
			function getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}

			new IsoGrid(document.querySelector('.isolayer--deco1'), {
				transform : 'translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg)',
				stackItemsAnimation : {
					properties : function(pos) {
						return {
							translateZ: (pos+1) * 30,
							rotateZ: getRandomInt(-4, 4)
						};
					},
					options : function(pos, itemstotal) {
						return {
							type: dynamics.bezier,
							duration: 500,
							points: [{"x":0,"y":0,"cp":[{"x":0.2,"y":1}]},{"x":1,"y":1,"cp":[{"x":0.3,"y":1}]}],
							delay: (itemstotal-pos-1)*40
						};
					}
				}
			});
			
			new IsoGrid(document.querySelector('.isolayer--deco2'), {
				perspective: 3000,
				transform : 'translateY(-150px) rotateX(55deg) rotateZ(-45deg)',
				stackItemsAnimation : {
					properties : function(pos) {
						return {
							translateX: getRandomInt(-60, 60),
							translateY: getRandomInt(-60, 60),
							rotateZ: getRandomInt(-10, 10)
						};
					},
					options : function(pos, itemstotal) {
						return {
							type: dynamics.bezier,
							duration: 800,
							points: [{"x":0,"y":0,"cp":[{"x":0.2,"y":1}]},{"x":1,"y":1,"cp":[{"x":0.3,"y":1}]}],
							delay: (itemstotal-pos-1)*20
						};
					}
				}
			});
			
			new IsoGrid(document.querySelector('.isolayer--deco3'), {
				transform : 'translateX(40vw) translateY(100px) rotateX(15deg) rotateY(0) rotateZ(40deg)',
				stackItemsAnimation : {
					properties : function(pos) {
						return {
							rotateY: pos * -15
						};
					},
					options : function(pos, itemstotal) {
						return {
							type: dynamics.bezier,
							duration: 500,
							points: [{"x":0,"y":0,"cp":[{"x":0.2,"y":1}]},{"x":1,"y":1,"cp":[{"x":0.3,"y":1}]}],
							delay: (itemstotal-pos-1)*40
						};
					}
				}
			});
			
			new IsoGrid(document.querySelector('.isolayer--deco4'), {
				perspective: 3000,
				transform : 'translate3d(-200px,-200px,0) scale3d(0.8,0.8,1) rotateY(45deg) rotateZ(-10deg)',
				stackItemsAnimation : {
					properties : function(pos) {
						return {
							rotateX: (pos+1) * -15
						};
					},
					options : function(pos, itemstotal) {
						return {
							type: dynamics.spring,
							delay: (itemstotal-pos-1)*30
						};
					}
				},
				onGridLoaded : function() {
					classie.add(document.body, 'grid-loaded');
				}
			});
		})();
		</script>
	</body>
</html>